# Homework - Week 6
# Answers

In [27]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [28]:
import pymysql
import json

In [4]:
server = "analyst-toolbelt.cn119w37trlg.eu-west-1.rds.amazonaws.com"
username = "emlyon1"
password = "student1"

In [5]:
#Q1: connect to the bdd tweets on the SQL server and show the different tables
#Hint "SHOW tables" is the sql query to show the tables...

In [7]:
# We are going to explore the Capgemini database

In [8]:
capgemini = pd.read_sql('SELECT * from capgemini',connection)
capgemini.head(1)

,date,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,...,user,hashtags,tweeter_followers,tweeter_listed,urls_found,name_mentions,tweeter_following,tweeter_desc,tweeter_name,tweeter_id
0,2017-02-24,,,Fri Feb 24 00:24:06 +0000 2017,"{'urls': [{'indices': [90, 113], 'display_url'...",{'media': [{'source_status_id': 82063043931242...,0,False,,834921810361630720,...,"{'notifications': None, 'followers_count': 518...","CustomerCentricity,MarginErosion,nrf17",5180,3590,http://ow.ly/Avqm307pidP,Capgemini,350,I feel the need to leave the world better than...,andytoronto,79201672

In [59]:
#Q2: count how many times each hashtag occurs in table capgemini
# Return the result in a dictionnary with keys = hashtags and  values = number of occurences

In [ ]:
#Q2 - 1:  Return the column entities as a list of dictionnaries 
# Hint: To transform a string into a dict, use json.loads(string)
#       Here necessary to replace ' by " in strings before using json.loads()

In [60]:
#Q2 - 2 : Count how many times each hashtag occurs in table capgemini

In [13]:
#Q3: Sort the dictionnary found in Q2 (Return a dictionnary too)
#Hint: You can use the function sorted()

In [15]:
#Q4: Plot the ten most used hashtags (decreasingly)

In [30]:
#Q5: find the languages which are used and the number of tweet in each
# Explore the database to find where you can find information about language
# or use the twitter documentation https://dev.twitter.com/overview/api/tweets

In [ ]:
#Q6: Plot the most used languages (decreasingly)

In [20]:
import urllib, json

In [48]:
URL = "https://data.sncf.com/api/records/1.0/search/?dataset=regularite-mensuelle-ter&rows=1140&sort=date&facet=date&facet=region"

In [49]:
#Q7: Get a DataFrame similar to the array you can find on the following website
# using the URL given to import data
# Hint: to transform a list of dict into a dataframe, use pd.DataFrame(list_dicts)

# Only the first ten rows are imported

https://data.sncf.com/explore/dataset/regularite-mensuelle-ter/table/?disjunctive.region&sort=date