In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime
%matplotlib inline

In [3]:
obj_trouves = pd.read_csv('data_week4/objets-trouves-restitution.csv',sep = ';',parse_dates=True, index_col = 'Date')

In [4]:
obj_trouves.head()

,Date et heure de restitution,Gare,Code UIC,Nature d'objets,Type d'objets,Type d'enregistrement
Date,,,,,,
2017-06-20 14:05:25,NaN,Nîmes,87775007.0,"Sac de voyage, sac de sport, sac à bandoulière","Bagagerie: sacs, valises, cartables",Objet trouvé
2017-08-10 15:33:37,2017-08-11T16:13:06+02:00,Boulogne Ville,87317586.0,Téléphone portable,"Appareils électroniques, informatiques, appare...",Objet trouvé
2017-07-03 08:57:43,NaN,Nîmes,87775007.0,Sac à dos,"Bagagerie: sacs, valises, cartables",Objet trouvé
2017-08-11 07:26:05,2017-08-11T16:16:52+02:00,Dijon,87713040.0,Sac à dos,"Bagagerie: sacs, valises, cartables",Objet trouvé
2017-07-11 08:13:04,NaN,Nîmes,87775007.0,"Clés, porte-clés","Clés, porte-clés, badge magnétique",Objet trouvé

In [5]:
obj_trouves['Type d\'enregistrement'].value_counts()

Objet trouvé    388268
Name: Type d'enregistrement, dtype: int64

In [6]:
# we can delete the column Type d'enregistrement 
obj_trouves.drop('Type d\'enregistrement',axis=1, inplace=True)

In [6]:
#Q1: Modify dates in index from 'YYYY-MM-DD HH:MM:SS' format to 'YYYY-MM-DD' format 
#Ex: 2017-07-03 08:57:43 --> 2017-07-03
# Save the result in place(I mean indexes of obj_trouves must be changed)
# Be careful to keep DateTimeIndex, you can do obj_trouves.index = pd.to_datetime(obj_trouves.index)

In [121]:
#Q2: Pivot obj_trouves to get a new dataframe with hierarchical indexing : Date and station (Gare) (BE CAREFUL OF THE ORDER)
# the values are the number of found objects per station for each Date (if at least one object is lost)

# Hints:
# Use only one column, 'Type d'objets' for example
# Use the aggregate function len to count the number of found objects

In [123]:
#Q3: Change the name of the column to 'Nb of found objects'

In [125]:
#Q4: Get the date and the station with the greatest number of found objects (Find this greatest number as well)

In [1]:
#Q5: Print a barplot showing number of found objects per station for the date found in Q4

In [154]:
# Q6: Create a new dataframe indexed by the type of objects with
# one column for the numbers of found objects for each type in 2016

In [ ]:
#Q7 Plot a decreasing bar chart of the number of founds objects regarding types from the dataframe made in Q6

In [7]:
stores = pd.read_csv("data_week4/SuperstoreSales.csv", encoding="latin1", parse_dates=["Order Date"])
stores.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,10/20/10
1,49,293,2012-10-01,High,49,10123.0200,0.07,Delivery Truck,208.16,68.02,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,10/2/12
2,50,293,2012-10-01,High,27,244.5700,0.01,Regular Air,8.69,2.99,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D¨ Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,10/3/12
3,80,483,2011-07-10,High,30,4965.7595,0.08,Regular Air,195.99,3.99,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,7/12/11
4,85,515,2010-08-28,Not Specified,19,394.2700,0.08,Regular Air,21.78,5.94,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,8/30/10

In [8]:
#Q8: Create a pivot table to analyse sales regarding Customer Segments and product categories  
# We are intersted by different indicators : number of sales, median and sum of sales 
# Hint : use one index, one column, one value and three aggfunc

In [9]:
#Q9: Plot 3 bar plots, one for each indicator (number of sales, median, sum)
# Each graph will have three bars representing product categories for each customer segment