# HW Week 3

In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
weather = pd.read_csv('data/weather_2012.csv', parse_dates=True, index_col='Date/Time')

In [3]:
weather.head()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
weather.tail()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,
2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

Let's keep track of the original column names with a variable:

In [5]:
original_columns = weather.columns
original_columns

Index(['Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)', 'Wind Spd (km/h)',
       'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [6]:
# I don't like the column Weather, so renaming it:
weather = weather.rename(columns={"Weather": "Desc"})

In [7]:
# Q1: Rename other columns to be shorter names that are easier to work with.
# Ex; 'Temp (C)' -> Temp

In [21]:
# Q2 Plot the avg temperature by month.  (There are several ways to do this.)

In [ ]:
# Q3: Find the date and then look up the row for the days with max and min temperatures. (Look back at the Timeseries NB for where I got the max and then looked up the date on the index.)

In [ ]:
# Q4: Get the median values per month. Save that as a new dataframe.
# Hint : Use groupby

In [47]:
# Q5: Plot the humidity using the original dataframe weather, and then plot the humidity
# from  the month one you just made.

In [ ]:
# Q6: What is the weather description (text) for the day and time when the wind speed is the highest?

In [ ]:
# Q7: What are the counts of all the weather descriptions?

In [ ]:
# Q8: find the rows that contain "Snow" and plot the temperature for those rows using a bar chart

In [ ]:
# Q9: Group by the weather description terms and use np.mean as your aggregate. Show the head.

In [ ]:
# Q10: Sort the dataframe from Q10 by Temperature Ascending and 
# plot the top 5 Temperature values as a bar chart.

In [ ]:
# Q11: Get a list of the unique weather terms that appear in the description column.

In [84]:
# Q12: Split the Description elements by comma (but don't make multiple columns for them).

In [7]:
# Q13: Get the values from the split descriptions you just got (hint: values) and figure out 
# how to make a Counter object to see which ones occur most often. Call most_common on the 
# Counter.

# Another hint: flatten a list of lists by using this magic spell that I look up every time:
# [item for sublist in nested_list for item in sublist]
# in other words, if nested_list is [[2,3], [32,55], [4]], then
# the flat version will be [2,3,32,55,4]

Another hint: flatten a list of lists by using this magic spell that I look up every time:
```
flatlist = [item for sublist in nested_list for item in sublist]
```

in other words, if nested_list is [[2,3], [32,55], [4]], then
the flat version will be [2,3,32,55,4].  It's flat because it has no lists inside it!